:root {
    --primary: #fff;
    --bold: #03012c;
    --text: #07052e;
    --light: #818192;
    --secondary: #7858A6;
}

/* A media query that is targeting devices with a pixel ratio of 1.5. */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {

    html,
    body {
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
}

/* X-Small devices (portrait phones, less than 576px)
Default */
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Dela Gothic One', cursive;
    background-color: #f5f5f5;
}

.banner {
    background-image: url(assets/banner4.png);
    background-size: cover;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.banner-wrap {
    padding: 5vw;
}

nav {
    margin-bottom: 3vh;
}

.logo {
    font-size: 1em;
    text-decoration: none;
    color: var(--primary);
}

.banner-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5vw;
    padding-bottom: 10vw;
    color: var(--primary);
    letter-spacing: 0.2vw;
}

.col {
    margin: 5vw;
    max-width: 100vw;
}

.right-col {
    width: 90vw;
    margin-bottom: 10vw;
}

.right-col-lg {
    display: none;
}

.carousel {
    margin-top: 2vh;
    overflow: hidden;
    text-align: center;
}

.slides {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.slides img {
    width: 90vw;
    height: auto;
    border-radius: 2vw;
}

.slides::-webkit-scrollbar {
    display: none;
}

.slider-nav {
    align-items: center;
    display: inline-flex;
    height: auto;
    width: 25vw;
    justify-content: center;
    padding: .5rem;
    position: relative;
    text-decoration: none;
    transition: 0.3s ease;
    opacity: 0.3;
    margin-bottom: 2vw;
}

.slider-nav:hover,
.slider-nav:active {
    cursor: pointer;
    opacity: 0.8;

}

.item-desc {
    font-size: small;
    color: var(--text);
    font-family: Poppins, sans-serif;
    margin-bottom: 3vh;
}

.item-policy {
    font-size: small;
    color: var(--light);
    font-family: Poppins, sans-serif;
    margin-bottom: 3vh;
}

.pay-btns {
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

button {
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    padding-top: 3vw;
    padding-bottom: 3vw;
    font-size: small;
    border-radius: 2vw;
    transition: 0.3s ease;
    width: 20vw;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: x-small;
}

button:hover {
    background-color: var(--primary);
    color: var(--secondary);
    transition: 0.3s ease;
    border: solid var(--secondary) 1px;
}

.left-col {
    width: 90vw;
}

.item-header {
    font-size: small;
    color: var(--bold);
}

.recommended-content {
    margin-top: 2vh;
}

.recommended-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 3vw;
    font-family: 'Poppins', sans-serif;
    border-radius: 2vw;
    box-shadow: 0 5px 4px 0px #03012c1f;
    margin-bottom: 3vh;
}

.recommended-item img {
    width: auto;
    height: auto;
    margin-bottom: 2vh;
}

.recommended-name {
    font-size: x-small;
    color: var(--secondary);
}

.recommended-price {
    font-size: smaller;
    font-weight: bolder;
    color: var(--secondary);
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 4vw;
    padding-top: 10vw;
    padding-bottom: 10vw;
    background: url(assets/footer-bg.jpg);
    background-size: cover;
    color: var(--primary);
    flex-direction: column;
}

.footer-content {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.footer-col-wrap {
    font-family: Poppins, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-col {
    padding-left: 3vw;
}

.footer-col span {
    font-weight: bold;
    font-size: smaller;
}

.footer-col p {
    font-size: x-small;
    width: 27vw;
}

.social {
    display: flex;
    flex-direction: row;
}

.icon {
    color: var(--primary);
    cursor: pointer;
    transition: 0.3s ease;
    font-size: smaller;
    margin-top: .5vw;
    padding-right: 2vw;
}

.icon:hover {
    transform: scale(1.2);
    transition: 0.3s ease;
}

.copyright {
    font-family: Poppins, sans-serif;
    font-size: x-small;
    color: rgba(230, 230, 230, 0.603);
    font-weight: lighter;
    margin-top: 5vw;
    padding-top: 3vw;
    border-top: solid 1px rgba(230, 230, 230, 0.603);
}

/* Small devices (landscape phones, 576px and up) */
/* @media (min-width: 576px) {} */

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .logo {
        font-size: 2em;
    }

    h3 {
        font-size: 3em;
    }

    h4 {
        font-size: 2em;
    }

    .col {
        margin: 5vw;
        display: flex;
        justify-content: space-between;
        max-width: 100vw;
    }

    .right-col {
        display: none;
    }

    .left-col {
        width: 35vw;
    }

    .item-header {
        font-size: larger;
    }

    .recommended-name {
        font-size: medium;
    }

    .recommended-price {
        font-size: large;
    }

    .right-col-lg {
        width: 50vw;
        margin-left: 5vw;
    }

    .slides img {
        width: 50vw;
    }

    .slider-nav {
        width: 15vw;
    }

    .item-desc {
        font-size: medium;
    }

    .item-policy {
        font-size: medium;
    }

    .pay-btns {
        width: 50vw;
    }

    button {
        padding-top: 2vw;
        padding-bottom: 2vw;
        width: 11.5vw;
        font-size: small;
    }

    .footer {
        padding: 5vw;
    }

    .footer-col span {
        font-size: large;
    }

    .footer-col p {
        font-size: medium;
        width: 40vw;
    }

    .icon {
        font-size: large;
    }

    .copyright {
        font-size: medium;
        margin-top: 3vw;
        padding-top: 2vw;
    }
}

/* Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) {} */

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .banner {
        height: 27vw;
        width: 100%;
        overflow: hidden;
    }
    
    .banner-wrap {
        padding: 3vw;
    }
    
    nav {
        margin-bottom: 0;
    }
    
    .logo {
        font-size: 1.8em;
    }
    
    h3 {
        font-size: 3em;
    }
    
    h4 {
        font-size: 1.8em;
    }
    
    .right-col-lg {
        width: 50vw;
        /* margin-left: 0vw; */
    }
    
    .slides img {
        width: 50vw;
        border-radius: .8vw;
    }

    .slider-nav {
        width: 12vw;
    }

    .item-desc {
        font-size: large;
        margin-bottom: 6vh;
    }

    .item-policy {
        font-size: large;
        margin-bottom: 6vh;
    }

    .pay-btns {
        width: 47vw;
    }

    button {
        font-size: medium;
        padding-top: 1vw;
        padding-bottom: 1vw;
        width: 11vw;
    }

    .left-col {
        width: 35vw;
    }

    .item-header {
        font-size: large;
    }

    .recommended-name {
        font-size: medium;
    }

    .recommended-price {
        font-size: x-large;
    }

    .footer {
        padding: 5vw;
        padding-top: 7vw;
        padding-bottom: 7vw;
    }

    .footer-col span {
        font-size: larger;
    }

    .footer-col p {
        font-size: medium;
        width: 30vw;
    }

    .icon {
        font-size: larger;
    }

    .copyright {
        font-size: medium;
    }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    
    .banner {
        height: 30vw;
    }

    .logo {
        font-size: 3.5em;
    }

    h3 {
        font-size: 5em;
    }

    h4 {
        font-size: 3.5em;
    }

    .item-desc {
        font-size: x-large;
    }

    .item-policy {
        font-size: x-large;
    }

    .pay-btns {
        width: 100%;
    }

    button {
        width: 11.5vw;
    }

    .item-header {
        font-size: x-large;
    }

    .recommended-name {
        font-size: x-large;
    }

    .recommended-price {
        font-size: xx-large;
    }

    .footer-col span {
        font-size: xx-large;
    }

    .footer-col p {
        font-size: x-large;
    }

    .icon {
        font-size: xx-large;
    }

    .copyright {
        font-size: x-large;
    }
}